h1 {
    font-family: 'Ropa sans', sans-serif;
}
section.play-button.floater {
    position: absolute;
    top: 10px;
    right: 10px;
}
section.play-button.static {
    margin-top: 1em;
    display: none;
}
section.play-button img {
    width: 200px;
    height: 64px;
}

section.functionalities {
    font-family: 'Open Sans', sans-serif;
    margin-top: 1em;
}

section.functionalities h4 {
    font-weight: 800;
    text-transform: uppercase;
}

.hero-unit {
    position: relative;
}

.center {
    text-align: center;
}
.orbit-timer, .orbit-prev, .orbit-next {
    display: none;
}

.hero-unit .tablet {
    background-image: url("../img/tablet_blank.png");
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: bottom center;
    height: 100%;
    width: 100%;
    display: inline-block;
    position: relative;
}

.hero-unit .tablet > .orbit-container {
    height: 100%;
}

.hero-unit .sketch {
    position: absolute;
    left: 22.25%;
    width: 59%;
    overflow: hidden;
}

h1.pitch {
    text-transform: uppercase;
    color: white;
    margin-top: 20%;
}


.hero-unit, .slide, .hero-unit > .orbit-container {
    width: 100%;
    background-size: cover;
    position: absolute;
}

.slide.skyscrapers {
    background-image: url('../img/bg_skyscrapers.jpg');
}
.slide.shoes {
    background-image: url('../img/bg_shoes.jpg');
}
.slide.teapot {
    background-image: url('../img/bg_teapot.jpg');
}

@media only screen {
    h1.pitch {
        font-size: 1.5em;
    }
    .hero-unit, .slide, .hero-unit > .orbit-container {
        height: 10em;
    }
    .hero-unit .tablet {
        width: 15em;
    }
    .hero-unit .sketch {
        bottom: 2.3em;
    }

} /* Define mobile styles */

@media only screen and (max-width: 40em) {
    h1.pitch {
        font-size: 1.5em;
    }
    .hero-unit, .slide, .hero-unit > .orbit-container {
        height: 10em;
    }
    .hero-unit .tablet {
        width: 10em;
    }
    .hero-unit .tablet {
        width: 15em;
    }
    .hero-unit .sketch {
        bottom: 2.3em;
    }
    section.play-button.floater {
        display: none;
    }
    section.play-button.static {
        display: block;
    }
} /* max-width 640px, mobile-only styles, use when QAing mobile issues */

@media only screen and (min-width: 40.063em) {
    h1.pitch {
        font-size: 3em;
    }
    .hero-unit, .slide, .hero-unit > .orbit-container {
        height: 20em;
    }    
    .hero-unit .tablet {
        width: 25em;
    }
    .hero-unit .sketch {
        bottom: 3.75em;
    }
} /* min-width 641px, medium screens */

@media only screen and (min-width: 64.063em) {
    h1.pitch {
        font-size: 4em;
    }    
    .hero-unit, .slide, .hero-unit > .orbit-container {
        height: 25em;
    }
    .hero-unit .tablet {
        width: 100%;
    }
    .hero-unit .sketch {
        bottom: 6em;
    }
} /* min-width 1025px, large screens */

@media only screen and (min-width: 64.063em) and (max-width: 90em) {
    h1.pitch {
        font-size: 3.5em;
    }    
    .hero-unit, .slide, .hero-unit > .orbit-container {
        height: 25em;
    }
} /* min-width 1024px and max-width 1440px, use when QAing large screen-only issues */

@media only screen and (min-width: 90.063em) {
    h1.pitch {
        font-size: 4em;
    }    
    .hero-unit, .slide, .hero-unit > .orbit-container {
        height: 30em;
    }
} /* min-width 1441px, xlarge screens */

@media only screen and (min-width: 90.063em) and (max-width: 120em) {
    h1.pitch {
        font-size: 4em;
    }    
    .hero-unit, .slide, .hero-unit > .orbit-container {
        height: 30em;
    }
} /* min-width 1441px and max-width 1920px, use when QAing xlarge screen-only issues */

@media only screen and (min-width: 120.063em) {
    h1.pitch {
        font-size: 5em;
    }
} /* min-width 1921px, xlarge screens */